.App {
  text-align: center;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom Style */
.Player1{
  

  border: 3px solid black;
}
.p1{

 margin-left: auto;
 margin-right: auto;
}
.p2{
  margin-left: auto;
 margin-right: auto;
}

.Player2{
  border: 3px solid black;
}
.MainCon{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border:10px solid black;

}
.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .current {
  opacity: 1;
}
/* Hidden class*/
.hidden {
  display: none;
}
